* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

html,
body,
canvas,
#app,
#full {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* SIDE NAVBAR */
#sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #252527;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.4s;
}

#sidenav h1 {
  padding: 10px 4px;
  margin-top: 20px;
  font-size: 30px;
  font-variant-caps: small-caps;
  background-color: #514c55;
  color: #bdbbc3;
  width: 240px;
}

#sidenav h3 {
  padding: 2px;
  font-size: 20px;
  color: #bdbbc3;
  display: block;
  transition: 0.3s;
  cursor: default;
  background-color: #353238;
  width: 240px;
}

#sidenav a:hover {
  color: #a4a3a8;
}

#sidenav a {
  text-decoration: none;
  color: #6a696e;
  transition: 0.5s;
}

#closeNav {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff7c;
  transition: 0.5s;
}

#closeNav:hover {
  color: #ffffffd8;
  cursor: pointer;
}

#openNav {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 50px;
  color: #ffffff7c;
  transition: 0.5s;
}

#openNav:hover {
  color: #ffffffd8;
  cursor: pointer;
}

h3 .material-icons {
  font-size: 22px;
  float: right;
  padding-right: 11px;
}

label {
  font-weight: bold;
  padding-left: 10px;
  transition: 0.3s;
}

label:hover {
  color: #dedbe6;
}

.block {
  padding: 5px;
  display: block;
  color: #a5a2ad;
  width: 200px;
}

#container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  float: right;
}

table {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.top-score .material-icons {
  font-size: 20px;
}

.top-score {
  font-size: 20px;
}

.top-score-label {
  padding-left: 0;
}
